.fixer-header {
    background: white;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.fixer-header .content {
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    max-width: calc(100% - 48px);
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.wrap .content {
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    max-width: calc(100% - 48px);
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
    margin-right: 300px;
}

.navbar .pc-nav {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

.pc-nav a:hover {
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); */
    color: black;
    text-decoration: underline;
    border-radius: 12px;


}


.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.534);
    padding: 8px 14px;
    text-decoration: none;
}

.action-links {
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(9, 9, 76);
    width: 70px;
    padding-right: 16px;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

.action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.btn {
    border-radius: 8px;
    background-color: #060167;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span::after {
    opacity: 1;
    right: 0;
}

.action {
    display: flex;

}

.title {
    font-size: 68px;
}

.desc {
    font-size: 1.3rem;
    line-height: 1.75;
    color: rgb(104, 103, 103);
}

.sub-title {
    font-size: 1.2rem;
    color: rgb(104, 103, 103);
}

.hero-cta {
    min-width: 170;
    margin-top: 40px;
    padding: 13px 16px;
    border-radius: 8px;
    text-decoration: none;
}


.btn1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    /* position: relative;
    z-index: 2; */
}

.btn1 span {
    position: relative;
    z-index: 2;
}

.btn1::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

.btn1:hover {
    color: #f5f3fa;
}

.btn1:hover::after {
    width: 100%;
}

.info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.clients .images {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    text-align: center;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
    text-decoration: none;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.guides .content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .desc {
    width: 645px;
    max-width: 100%;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.guides .list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.list-guide {
    list-style: none;
    list-style-image: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 18px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.guide-cta .btn {
    min-width: 200px;
    text-decoration: none;
    opacity: 1;
    color: white;
    transition: 0.3;
}

.guide-item a {
    text-decoration: none;
}

.guide-cta .btn:hover {
    opacity: 0.6;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}